#wrap {
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}
#header {
  margin-left: auto;
  margin-right:auto;
  display:inline-flex;
}
#header p {
  font-size: 40px;
  font-family: "Osaka";
  color: rgb( 85, 85, 85 );
  line-height: 1.2;
  text-align: left;
  display:inline-block;
  margin-left: 70px;
  margin-top: 25px;
  left: 600px;
  top: 29px;
  width: 262px;
  height: 81px;
  z-index: 11;
}
#header img {
  position: relative;
  display:inline-block;
  padding-bottom: 40px;
  left: 26px;
  top: 23px;
  width: 67px;
  height: 96px;
  z-index: 10;
}
#addnewbutton button {
  display:block;
  margin-right: auto;
  margin-left: auto;
  border-width: 3.68px;
  border-color: rgb( 119, 168, 127 );
  border-style: solid;
  border-radius: 11px;
  background-color: rgb( 119, 168, 127 );
  left: 30px;
  top: 160px;
  width: 412.64px;
  height: 92.64px;
  font-family: "Arial Black";
  color: rgb( 255, 255, 255 );
  line-height: 0.7;
  font-size: 36px;
  text-align: center;
  margin-top: 40px;
}
#addnewbutton button:hover {
  border-color: rgb( 53, 76, 49 );
  background-color: rgb( 53, 76, 49 );
}
#addnewform {
  display:none;
  margin-bottom: 40px;
}
#addnew form input[type='text']{
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-width: 4.88px;
  border-color: rgb( 161, 161, 161 );
  border-style: solid;
  border-radius: 10px;
  background-color: rgb( 255, 255, 255 );
  width: 403px;
  height: 91.24px;
  font-family: "Arial";
  font-size:36px;
  margin-top: 40px;
}
#addnew form input:hover{
  border-color: rgb( 0, 174, 239 );
}
#addnew form input:active{
  border-color: rgb( 0, 174, 239 );
}
#addnew form input:focus{
  border-color: rgb( 0, 174, 239 );
}
#addnew form input[type="submit"] {
  display:block;
  border-width: 3.68px;
  border-color: rgb( 119, 168, 127 );
  border-style: solid;
  border-radius: 11px;
  background-color: rgb( 119, 168, 127 );
  width: 412.64px;
  height: 92.64px;
  font-family: "Arial Black";
  font-size: 36px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:40px;
}
#addnew form input[type="submit"]:hover{
  border-color: rgb( 53, 76, 49 );
  background-color: rgb( 53, 76, 49 );
}
.listitem{
  background-image: url('../images/list item sprite.png');
  background-position:20px -107px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-left: 35px;
  text-align: center;
  width: 420px;
  font-family: "Arial Black";
  font-size: 30px;
  color: rgb(255, 255, 255);
  height: 80px;
}
#list h3 {
  padding-left: 50px;
}
.listitem:hover{
  background-position:20px -214px;
}
.listitem:active, .listitem.active{
  background-position:20px 0px;
}
.listitem_click{
  background-position:20px 0px;
  border-color: red;
}

